body{
    font-family: 'proxima_nova'
}

/* about header */

#main_container{
    padding-top:66px;
    background-color: beige;
}

#sub_container{
    background-color: #4BB050;
}

#milktea img{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/* about section */

#content-ab{
    font-family: 'proxima_nova';
    color:white;
    margin: auto;
    padding-left: 100px;
}

#content-ab h1{
    font-family: 'proxima_nova_xbold';
    color:beige;
}

#content-ab h3{
    color:beige;
}

#mt-ab{
    width: 40%;
    margin: auto;
}

#mt-ab img{
    width: 453px;
    padding-bottom: 5px;
}

@media screen and (max-width:1024px) {
    #content-ab{
        padding-left: 70px;
        padding-right: 70px;
    }
}

/* location section */

#map{
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: beige;
    display: block;
}

html, body {
    height: 100%;
    background: beige;
}

.fill { 
    min-height: 100%;
    height: 100%;
}

#map h1{
    text-align: right;
    color: #4BB050;
    font-family: 'proxima_nova_xbold';
}

#map h3{
    text-align: right;
    font-family: 'proxima_nova';
    color: #4BB050;
}

#map small{
    font-size: 18px;
}

#location-ab img{
    width: 100%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    max-height: 700px;
}

/*testimonial section */

#testimonial{
    background-color: #4BB050;
    color: beige;
}

#testimonial h1{
    text-align: center;
    color: beige;
    font-family: 'proxima_nova_xbold';
}

#testimonial p{
    text-align: center;
    color: #6ab04c ;
}

.testimonials{
    padding: 40px 0;
    background: #4BB050;
    text-align: center;
  }
 
.border{
    width: 160px;
    height: 5px;
    background: #6ab04c;
    margin: 26px auto;
}
  
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}
.testimonial{
    background: beige;
    padding: 30px;
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.name{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
    color: #6ab04c;
}
.stars{
    color: #FBB900;
    margin-bottom: 20px;
}

@media screen and (max-width:960px) {
  .col{
    flex: 100%;
    max-width: 80%;
  }
}
  
@media screen and (max-width:600px) {
  .col{
    flex: 100%;
    max-width: 100%;
  }
}
  
@font-face {
    font-family: 'proxima_nova';
    src: url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_xbold';
    src: url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
