footer {
    background-color: #f5f5f5f5;
  }
  
  #footer_icon {
    width: 8rem;
    background-clip: inherit;
    float: right;
    align-items: center;
  }
  
  #icon_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8rem;
  }
  
  .social_icons--link {
    align-items: center;
    color: #333;
    font-size: 2.5rem;
  }
  
  .social_icons--link:hover {
    color: #339e3d;
    transition: all 0.3s ease-in-out;
  }
  
  #footer_center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-align: center;
  }
  
  /*for Responsiveness*/
  
  @media screen and (max-width: 1999px) {
    #content1_header_line1 {
      font-size: 2rem;
    }
  
    #content1_header_line2,
    #content1_header_line3,
    #content1_header_line4 {
      font-size: 6rem;
    }
  }

  @media screen and (max-width: 1024px) {
    #footer_icon{
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  