body {
    background-color:white;
}

#main_container{
    padding-top:73px;
}

#header_row{
    background-color:#4eae52;
    color: white;   
}

#header_row h1{
    font-size: 6vw;
    font-family: 'proxima_nova_bold';
    position: absolute;
    right: 30px;
    bottom: 10px;
}

button.navbar-toggler {
    padding: 10px;
    margin-right: 10px;
}

#shopping_cart{
    position:relative;
}

@font-face {
    font-family: 'proxima_nova';
    src: url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
