.main_container{
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/Others/images/76.webp');
    height: 100vh;
}

h1{
    font-size:large
}

#header{
    padding-top:100px;
    text-align:center;
}

button.navbar-toggler {
    padding: 10px;
    margin-right: 10px;
}

#shopping_cart{
    position:relative;
}