.main_container{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;

}

.cart_layout{
    padding-top: 100px;
    padding-left: 25px;
    max-width: 100%;
    
}
#listicon1{
    max-height: 100px;
    max-width: 100px;
}
#cart_phrase h1{
    font-family: 'proxima_nova_bold';
    font-size: 50px;
    color:black;
}
#cart_phrase h2{
    font-family: 'proxima_nova';
    font-size: 40px;
    color:black;  
}
.manage_button_container{
  width:fit-content;
  height:fit-content;
  
}

#manage-button{
  background-color: #38753A;
  color: #fff;
  border: 20%;
  border-radius: 1rem;
  border-color: #38753A;
  position: absolute;
  right: 150px;
  bottom: 675px;
  font-size: 25px;
}
#manage-button:hover{
    background-color: #0b5813;
    transition: 0.5s;
}

#order_contents1{
    background-color: #4CB050;
    position:absolute;
    bottom: 500px;
    padding-top: 100px;
    padding-left: 25px;
    
    max-width: 100%;
    border-radius: 1rem;
}

#order_contents2{
    background-color: #4CB050;
    position:absolute;
    bottom: 300px;
    padding-top: 100px;
    padding-left: 25px;
    
    max-width: 100%;
    border-radius: 1rem;
}


@font-face {
    font-family: 'proxima_nova';
    src: url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_xbold';
    src: url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}