body{
    margin: 0;
}

.main_container{
    max-width: 1180px;
    max-height: 100%;
    min-height: 100%;
    
}

.cart_layout{
    padding-top: 100px;
    padding-left: 25px;
    max-width: 100%;
    margin-bottom: 1%;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 30px;
}
#listicon1{
    max-width: 100px;
    width:100%;
}
#cart_phrase h1{
    
    font-family: 'proxima_nova_xbold';
    font-size: 50px;
    color:black;
    max-width: fit-content;
    letter-spacing: -2px;
    display: flex;
    margin-bottom: -2px;
    width: 100%;
    float: left;
    text-align: center;
}
#cart_phrase h2{
    font-family: 'proxima_nova_bold';
    font-size: 35px;
    color:black; 
    margin: auto;
    float: left;
    text-align: center;
}

#manage-button{
    background-color: #38753A;
    color: #fff;
    border: 1rem;
    border-radius: 1.5rem;
    border-color: #38753A;
    font-size: 29px;
    font-family: 'proxima_nova_bold';
    max-width: fit-content;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 78%;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    width:100%;
    float:right;
    text-decoration: none;
}
#manage-button:hover{
    background-color: #0b5813;
    transition: 0.5s;
}

#checkout_button_container{
    width:fit-content;
    height:fit-content;
    display: flex;
    justify-content: center;
}
#checkout-button{
    background-color: #38753A;
    border: 20%;
    border-radius: 1rem;
    font-size: 25px;
    margin-bottom: 50px;
}
    
#checkout-button:hover{
    background-color: #0b5813;
    transition: 0.5s;
}

#order_contents1{
    background-color: #4CB050;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 15px;
    margin-bottom: 30px;
    max-width: 80%;
    max-height:20%;
    border-radius: 2rem;
    width: 100%;
    height: 100%;
}

#img_container1{
    max-width: fit-content;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    margin:auto;
    width: 100%;
}

#img_avocado{
    max-width: fit-content;
    width: fit-content;
    height: 200px;
    border-radius: 1rem;
    display: flex;
    margin:auto;
}
#order_contents2{
    background-color: #4CB050;
    padding-top: 200px;
    padding-left: 15px;
    margin-bottom: 50px;
    max-width: 80%;
    max-height:20%;
    border-radius: 2rem;
    width: 100%;
}
#avocado_order h1{
    font-family: 'proxima_nova_bold';
    font-size: 50px;
    color:white;
    margin-top: 50px;
    display: flex;
    background: gray;
    text-align: center;
    width: 100%;
}
#avocado_order p{
    font-family: 'proxima_nova';
    font-size: 30px;
    color:white;
    display: flex;
    background: pink;
    width: 100%;
}


#bg_for_mathbuttons{
    background: lightcoral;
    margin: auto;
    padding: 0; 
    display: flex;
    max-width: 255px;
    width: 100%;
}
#add-button{
    background-color: #38753A;
    color: #fff;
    border: 20%;
    border-radius: 1rem;
    border-color: #38753A;
    font-size: 34px;
    font-family: 'proxima_nova_xbold';
    width: 55px;
    margin-left: 98px;
    
}

#add-button:hover{
    background-color: darkslategray;
    border-color: darkslategray;
    transition: 0.2s;
}
#minus-button{
    background-color: #38753A;
    color: #fff;
    border: 20%;
    border-radius: 1rem;
    border-color: #38753A;
    font-size: 34px;
    font-family: 'proxima_nova_xbold';
    width: 55px;
    float: left;
}
#minus-button:hover{
    background-color: darkslategray;
    border-color: darkslategray;
    transition: 0.2s;
}
#math_blank{
    border:none;
    text-align: center;
    font-size: 35px;
    font-family: 'proxima_nova_bold';
    pointer-events: none;
    margin-left: 17px;
    float: left;
    width: 120px;
    max-width: 500px;
}

#avocado_checkbox_content{
    background-color: wheat;
    max-width: 10%;
    width: 60%;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    margin-top: 2px;
}
input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 50px;
    max-width: 40%;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 70px;
    align-items: center;
    display: flex;
    margin:auto;
}
#avocado_checkbox_style{
    display: none;
    align-items: center;
}
input[type="checkbox"]:after{
    font-family:"proxima_nova_bold";
    content: "\2713";
    font-weight: 900;
    font-size: 50px;
    margin-left: 2px;
    margin-top: 6px;
    color:#38753A;
    justify-content: center;
    display:none;
}
input[type="checkbox"]:hover{
    background-color: yellow;
}
input[type="checkbox"]:checked{
    background-color: orange;
    justify-content: center;
}
input[type="checkbox"]:checked::after{
    display: flex;
    justify-content: center;
}
@font-face {
    font-family: 'proxima_nova';
    src: url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_xbold';
    src: url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}