.menu {
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.menu_title{
    padding-top: 100px;
    padding-left: 25px;
    max-width: 100%;
}

.menu_title h1{
    font-size: 50px;
    font-family: 'proxima_nova_bold';
}

.menu_board {
    max-width: 100%;
    max-height: 100%;
    background-color: brown;
    display: flex;
}

.part1 {
    background-color: cadetblue;
    margin-left: 25px;
    min-width: 25%;
    max-width: 25%;
    max-height: 100%;
}

.part2 {
    background-color: cadetblue;
    min-width: 25%;
    max-width: 25%;

}

.part3 {
    background-color:chocolate;
    min-width: 50%;
    max-width: 50%;
}
.material-icons.md-48 { font-size: 128px; }

@font-face {
    font-family: 'proxima_nova';
    src: url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_bold';
    src: url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_nova_xbold';
    src: url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff2') format('woff2'),
         url('/_fonts_/proxima_nova/proxima_nova_extrabold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}